*******************Utilities******************* .flexRow,
.flexColumn,
.spaceAround,
.spaceBetween,
.alignCenter,
.justifyCenter,
.alignFlexEnd,
.alignFlexStart {
  display: flex;
}
.flexColumn {
  flex-direction: column;
}
.spaceBetween {
  justify-content: space-between;
}
.spaceAround {
  justify-content: space-around;
}
.alignCenter {
  align-items: center;
}
.alignFlexEnd {
  align-items: flex-end;
}
.alignFlexStart {
  align-items: flex-start;
}

.justifyCenter {
  justify-content: center;
}

/* ******************* GAPS */

.zeroOneVhGap {
  gap: 0.1vh;
}
.zeroOneVwGap {
  gap: 0.1vw;
}
.zeroTwoVhGap {
  gap: 0.2vh;
}
.zeroTwoVwGap {
  gap: 0.2vw;
}
.zeroThreeVhGap {
  gap: 0.3vh;
}
.zeroThreeVwGap {
  gap: 0.3vw;
}
.halfVhGap {
  gap: 0.5vh;
}
.halfVwGap {
  gap: 0.5vw;
}
.oneVhGap {
  gap: 1vh;
}
.oneVwGap {
  gap: 1vw;
}
.oneHalfVhGap {
  gap: 1.5vh;
}
.oneHalfVwGap {
  gap: 1.5vw;
}
.twoVhGap {
  gap: 2vh;
}
.twoVwGap {
  gap: 2vw;
}

/* *******************Utilities******************* */

/* ***********************Header************************ */

.section {
  background-color: #ebf1ff;
  height: 100vh;
  width: 100vw;
  padding: 2vh 0 0vh 0;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

.leftTopBgImg,
.rightBgImg,
.leftBtmBgImg {
  position: absolute;
}

.leftTopBgImg {
  top: 0;
  left: 0;
  height: 5vh;
  width: 15vw;
}

.rightBgImg {
  right: -7vw;
  top: 8vh;
  height: 65vh;
  width: 20vw;
}

.leftBtmBgImg {
  top: 40vh;
  left: -1vw;
  height: 50vh;
  width: 10vw;
}

.headerText {
  margin: 0 0 0 -0.5vw;
  color: #3772fe;
  font-size: 1.5rem;
  font-weight: 700;
}

.main {
  margin: 10vh 28vw 7vh;
  background-color: #fff;
  padding: 5vh 0;
  border-radius: 1rem;
}

.mainHeading {
  color: #27272e;
  font-size: 1.3rem;
}

.mainSubHeading {
  color: #27272e;
  font-size: 0.75rem;
  margin: 1vh 0 0 0;
}
